<html>
<head>
    <title>App Próximo</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body><h1>Próximo!!</h1>

<form action="/echo" method="POST">
<p>Nome:  <input name="nome"></p>
<p>CPF:  <input name="cpf"></p>
<p>Forma de Pagamento: <input list=formas_pagamento></p>

<datalist id="formas_pagamento">
    <option value = "Dinheiro">
    <option value = "Cartão de Crédito">
    <option value = "Cartão de Débito">
</datalist>

<input value="Comprar refeição" type="submit">
</form>
</body>

</html>