<!DOCTYPE html>
<html>
    <title>App Proximo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-coffee {font-size:180px}
    </style>

<body>
        <!-- Header -->
        <header class="w3-container w3-red w3-center" style="padding:50px 8px">
        <h1 class="w3-margin w3-jumbo">Menu do {{restaurante.nome}}</h1>
        </header>

        <!-- Barra superior -->
            <div class="w3-top">
            <div class="w3-bar w3-red w3-card w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="hello()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
                <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-white">Login</a>
                <a href="/listar_pedidos" class="w3-bar-item w3-button w3-padding-large w3-white">Ver Pedidos</a>
            </div>
            </div>

            <h1 style="text-align: center">{{ refeicao_escolhida.nome }} e {{ bebida_escolhida.nome }}</h1>
            <form class="w3-row-padding w3-padding-64 w3-container" style="text-align: center" action="/pedido" method="POST">
                <p>Nome:  <input name="nome"></p>
                <p>CPF:  <input name="cpf"></p>
                <p>Forma de Pagamento: <input list=formas_pagamento name = "pagamento"></p>
                <datalist id="formas_pagamento">
                    <option value = "Dinheiro">
                    <option value = "Cartao de Credito">
                    <option value = "Cartao de Debito">
                </datalist>
                
                <input type="hidden" id="refeicao_escolhida" name="refeicao_escolhida" value=""/>

                <input type="hidden" id="bebida_escolhida" name="bebida_escolhida" value=""/>

                <input type="hidden" id="restaurante_escolhido" name="restaurante_escolhido" value=""/>

                <script>
                    var bebida_escolhida = '{{ bebida_escolhida }}' ;
                    var refeicao_escolhida = '{{ refeicao_escolhida }}';
                    var restaurante_escolhido = '{{ restaurante_escolhido }}'
                    passarValores( bebida_escolhida, refeicao_escolhida, restaurante_escolhido );
                </script>

                <p>Observação: <input type="text" name = "obs" value="Deseja tirar algo ?"></p>

                <input type="hidden" name="refeicao_escolhida" value= '{{ refeicao_escolhida.id }}'>
                <input type="hidden" name="bebida_escolhida" value= '{{ bebida_escolhida.id }}'>
                <input type="hidden" name="restaurante" value= '{{ restaurante.id }}'>

                <input type="submit" value="Enviar pedido">
            </form>
    </body>
</html>