<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Completo?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>

    <h2><p> {{ refeicao_escolhida }} com {{ bebida_escolhida }}</p></h2>

    <form action="" method="POST">

        <h3><p>Deseja retirar algo ?</p></h3>

        <input type="checkbox" value="Arroz">
        <input type="checkbox" value="Feijão">
        <input type="checkbox" value="Tomate">
        <input type="checkbox" value="Alface">
        <input type="checkbox" value="Batata Frita">
        <input type="checkbox" value="Ovo frito">
        <input type="checkbox" value="Farofa">
        <input type="checkbox" value="Cenoura">

    </form>
</body>
</html>