<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Completo?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>

    <h2><p> {{ refeicao_escolhida }} com {{ bebida_escolhida }}</p></h2>

    <form action="\dados" method="POST">

        <h3><p>Deseja retirar algo ?</p></h3>

        <p>Arroz<input type="checkbox" name="Arroz"></p>
        <p>Feijão<input type="checkbox" name="Feijão"></p>
        <p>Tomate<input type="checkbox" name="Tomate"></p>
        <p>Alface<input type="checkbox" name="Alface"></p>
        <p>Batata Frita<input type="checkbox" name="Batata Frita"></p>
        <p>Ovo Frito<input type="checkbox" name="Ovo frito"></p>
        <p>Farofa<input type="checkbox" name="Farofa"></p>
        <p>Cenoura<input type="checkbox" name="Cenoura"></p>

        <input type="hidden" value={{ bebida_escolhida }} >

        <input type="hidden" value={{ refeicao_escolhida }} >
        
        <input type="submit" value="Enviar pedido">

    </form>
</body>
</html>