<!DOCTYPE html>
<html>
    <title>Proximo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-coffee {font-size:180px}
    </style>

<!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:50px 16px">
      <h1 class="w3-margin w3-jumbo">Pedidos</h1><br>
    </header>

    <body>
        <div class="w3-top">
          <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="hello()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
            <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-white">Login</a>
            <a href="/listar_pedidos" class="w3-bar-item w3-button w3-padding-large w3-white">Ver Pedidos</a>
          </div>
         </div>

<!-- Corpo -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>{{ restaurante.nome }}</h1>
        <h5 class="w3-padding-32">
                <div class="restaurantsList">
              <ul class="list">
                  {%for cliente in pedidos%}
                      <li><span>Nome:{{cliente.nome}}</span><br>
                        <span>{{cliente.pedido}}</span><br>
                        <span>Obs:{{cliente.obs}}</span><br>
                        <span>Valor:R$ {{cliente.preco_pedido}} </span><br>
                        <span>Forma de Pagamento: {{cliente.pagamento}} </span><br>
                      </li>

                      <hr>
                  {%endfor%}
              </ul>
          </div>
        </h5>
      </div>

      <div class="w3-third w3-center">
        <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
      </div>
    </div>
  </div>
    </body>
</html>
