<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Escolha sua refeição</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2>{{restaurante_escolhido}}</h2>
    <form action="\ingrediente" method="POST">

        <p>Escolha a sua refeição <input list="refeicao" name="refeicao"></p>

        <datalist id="refeicao">
                <option value = "Filé de frango">
                <option value = "Lasanha">
                <option value = "Macarrão com Almôndegas">    
        </datalist>
           
        <p>Bebida <input list="bebida" name="bebida"></p>

        <datalist id="bebida">
                <option value = "Coca-Cola">
                <option value = "H20 Limoneto">
                <option value = "Suco de Laranja">    
        </datalist>
        <input value="Comprar" type="submit">


    </form>
</body>
</html>