<!DOCTYPE html>
<html>
    <title>Proximo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-coffee {font-size:180px}
    </style>

<!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:50px 16px">
      <h1 class="w3-margin w3-jumbo">Selecione o restaurante</h1>
    </header>

    <body>
        <div class="w3-top">
          <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="hello()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/lista_pedido" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
          </div>
         </div>

<!-- Corpo -->

<div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
              <h1>Pedidos</h1>
              <h5 class="w3-padding-32">
                    <form action="" method="POST">
                        <p>Selecione o restaurante: <input list="restaurante-list" name = "restaurante"></p>
                        <datalist id="restaurante-list">
                            {%for item in resturantes%}
                                <spam>{{ item.nome }}</spam>
                            {%endfor%}
                        </datalist>
                        <input type="submit" value="Visualizar pedidos">
                    </form>
        	        </div>
            </div>
        </div>
    </div>    
    </body>
</html>
